body {
    font-family: sans-serif;
    text-align: center;
    margin: 40px;
  }
  
  h1 {
    font-size: 48px;
    color: #333;
  }
  
  p {
    font-size: 18px;
    color: #666;
  }

  .menu-bar {
    position: fixed;
    top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }